<div class="card">
  <div class="card-header center">
      Add your Awesome Post
  </div>
  <div class="card-body">
      <label for="inputLocation" class="">Location Name</label>
          <div>
              <input type="text" class="form-control" id="inputLocation">
          </div>
                  
      <label for="inputDescription" class="">Description</label>
          <div>
              <textarea name=""  class="form-control" id="" cols="63" rows="5" ></textarea>
          </div>
      <div class="c">
          <p>Add Your Awesome Photos</p>
      </div>
      <div> 
          <input type="file">
      </div>
      <div class="center m">
          <button type="button" class="btn btn-success">Submit post</button>
      </div>

      <section class="cases-links">
          <h2 class="error-404">page not found!</h2>
          <p class="error-404-p">The page you were looking for does not exist! click
              <a href="index.html">here</a> to return to the Home page.<br>if you got to this page by clicking a link notify us so we can fix this error
              :)</p>
      </section>
                  
  </div>
</div>
